@CHARSET "UTF-8";

html, body {
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Lucida Sans, Arial;';
    font-size: 14px;
    background: #191919 url(../images/body-home.jpg) no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans, Arial;';
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.content {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    max-width: 940px;
    padding: 0;
}

/* HEADER */
.header-wrapper {
    width: 100%;
	background: #000 url(../images/bg-header.gif) repeat-x;
	z-index: 3;
	min-height: 60px;
}

#header {
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 30px;
}

#header .navbar-header {
    margin-top: 5px;
}

#header ul {
    margin-left: 20px;
    margin-top: -20px;
}

#header ul li a {
    color: #fff;
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 0;
}

#header ul li a:hover {
    background: none;
    text-decoration: underline;
}

#header #logo {
    font-family: Lucida Sans, Arial;
    font-weight: bold;
    text-decoration: none;
    color: #6D6F71;
    font-size: 22px;
    padding: 0;
    padding-left: 15px;
}

#header #logo p {
    float: left;
    font-size: 20px;
    margin-top: 4px;
    margin-left: -17px;
}

#header #logo-img {
    max-width: 130px;
    display: inline-block;
    float: left;
    margin-top: -30px;
}

input#search-address {
    margin: 10px 5px 0 0;
    width: 296px;
    font: 14px "Lucida Sans", Arial, Helvetica, sans-serif;
    color: #6D6E71;
    border: 1px solid #000;
    padding: 5px;
}

#address #search-btn {
    padding: 4px 12px;
    background: #029245;
    color: #fff;
    font-size: 12px;
    margin-top: -3px;
    font-weight: 700;
}

#message-btn a {
    background: #ED1C24;
	color: #fff;
	font-weight: 800;
	padding: 3px 15px;
	border-radius: 3px;
	font-size: 13px;
}

.header-tools {
    margin-top: -50px;
}

.header-tools #message-btn {
    margin-top: 8px;
}

/* MAP */
.tools-wrapper {
    background: url(../images/bg-navigation.gif) repeat-x;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 1;
	width: 100%;
}

.tools-wrapper ul.tools {
    list-style: none;
    width: 940px;
    margin: 0 auto;    
    border-bottom: 0;

}

.tools-wrapper ul.tools li {
    float: left;
	background: url(../images/separator.gif) no-repeat 0 1px;
	padding-left: 1px;
	cursor: pointer;
}

.tools-wrapper ul.tools li a {
    float: left;
	padding: 5px 17px 0;
	color: #464646;
	text-decoration: none !important;
	height: 34px;
	font-weight: bold;
}

.tools-wrapper ul.tools li a span {
   float: left;
	height: 25px;
	line-height: 25px;
}

.tools-wrapper ul.tools li a span.left, .tools-wrapper ul.tools li a span.right {
    width: 12px;
}

.tools-wrapper ul.tools li.active a,
.tools-wrapper ul.tools li.hover a,
.tools-wrapper ul.tools li.focus a  {
    background: #e6e6e6;
    margin-right: 0;
}

.tools-wrapper .tab-content {
    background: #e6e6e6;
    border-bottom: 1px solid #A0A0A0;
}

.tools-wrapper .tab-content .tab-pane {
    border-bottom: 1px solid #A0A0A0;
    padding-bottom: 8px;
}

.tools-wrapper .tab-content .tab-pane .content {
    padding: 20px 17px 2px 20px;    
}

.tools-wrapper .tab-content .tab-pane .content p {
    font-size: 12px;
    color: gray;
}

.tools-wrapper .tab-content .tab-pane .content .list {
    background: #dfdfdf;
    padding: 9px;
}

.tools-wrapper .tab-content .tab-pane .content .list .disaster-type ul {
	list-style: none;
	margin-left: -40px;
    margin-top: -10px;
}

.tools-wrapper .tab-content .tab-pane .content .list .disaster-type ul li {
    float: left;
    margin-right: 8px;
}

.tools-wrapper .tab-content .tab-pane .content .list label,
.tools-wrapper .tab-content .tab-pane .content .list span {
    font-size: 12px;
}

.toolbar {
    height: 1%;
	padding: 10px 17px 2px 20px;
	overflow: hidden;
}

.toolbar .status-message {
    float: left;
    width: 70%;
}

.toolbar .status-message a {
    float: left;
    margin-right: 10px;
    background: #0B87C2;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
}

.toolbar .side-menu ul {
    list-style: none;
}

.toolbar .side-menu ul li {
    float: left;
}

.toolbar .side-menu ul li a {
    cursor: pointer;
    color: #4C4C4C;
    font-size: 13px;
    line-height: 26px;
    padding: 0 1px 0 0;
    margin: 0 9px 0 0;
    text-decoration: none !important;
    height: 26px;
    width: 32px;
    border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 3px;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toolbar .side-menu ul li a:hover,
.toolbar .side-menu ul li a:active,
.toolbar .side-menu ul li a:focus {
    background: #0B87C2;
    color: #fff;
    -webkit-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -moz-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -o-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;    
}

.disabled {
    opacity: 0.4;
	pointer-events: none;
	cursor: default;
	color: #333;
}

.date-picker input, .search input, .status-message input {
    border: 0;
	margin-left: 10px;
	border-radius: 3px;
	width: 150px;
}

 .status-message input {
    width: 130px !important;
 }

.search input{
    width: 300px !important;
}

.status-message input.btn {
    width: 70px !important;
	background: #0B87C2;
	color: #fff;
	padding: 3px 10px;
	font-size: 12px;
}

.date-picker input.btn, .search input.btn,.status-message input.btn {
    width: 80px;
	background: #0B87C2;
	color: white;
	padding: 3px 10px;
	font-size: 13px;
}

#infoWindow {
    text-align: left;
	width: 300px;
	min-height: 150px;
	overflow: hidden;
	padding: 15px;
}

#infoWindow h2 {
    font-family: arial;
    font-size: 16px;
    font-weight: 700;
}

#infoWindow .btn {
    background: #0B87C2;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	border: 1 px solid transparent;
	margin-right: 10px;
}

#infoWindow .btn:hover {
    color: #0B87C2;
    background: #fff;
    border: 1px solid #0B87C2;
    -webkit-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -moz-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -o-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;    
}

.modal-body {
    display: inline-block;
    width: 100%;
}

.form-group {
    display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}


/* FOOTER */
#footer {
    background: #232222;
    margin-top: 30px;
    border-radius: 5px;
    padding: 7px;
}

#footer h4 {
    color: #6D6E71;
    font-weight: 600;
}

#footer p, #footer a {
    color: #fff;
    font-size: 12px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 319px) {
    
}
