@CHARSET "UTF-8";

html, body {
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Lucida Sans, Arial;';
    font-size: 14px;
    background: #191919 url(../images/body-home.jpg) no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans, Arial;';
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.content {
    width: 100%;
	text-align: left;
	margin: 0 auto;
    max-width: 940px;
    padding: 0;
}

/* HEADER */
#header {
    background: #DFE0E1;
	max-width: 940px;
	margin: 0 auto;
	border-radius: 0;
	margin-top: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	min-height: 60px;
}

#header .navbar-header {
    margin-top: 5px;
}

#header #logo {
    font-family: Lucida Sans, Arial;
	font-weight: bold;
	text-decoration: none;
	color: #6D6F71;
	font-size: 22px;
	padding: 0;
	padding-left: 15px;
}

#header #logo p {
    float: left;
	font-size: 20px;
	margin-top: 14px;
	margin-left: -17px;
}

#header #logo-img {
    max-width: 130px;
	display: inline-block;
	float: left;
	margin-top: -30px;
}

#main-nav ul {
    margin-top: 5px;
}

#main-nav ul li a {
    font-size: 15px;
	font-family: Lucida Sans, Arial;
	font-weight: bold;
	text-decoration: none;
	color: #6D6F71;
}

#main-nav ul li a:hover {
    background: none;
    text-decoration: underline;
}

#bottom {
    background: #0D0D0D;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 15px;
}

#bottom .col {
     margin: 0 0 10px 0;   
}

#bottom #address input#search-address {
    margin: 10px 5px 0 0;
	width: 255px;
	font: 14px "Lucida Sans", Arial, Helvetica, sans-serif;
	color: #6D6E71;
	border: 1px solid #000;
	padding: 3px;
}

#bottom #address #search-btn {
    padding: 4px 12px;
	background: #029245;
	color: #fff;
	font-size: 12px;
	margin-top: -3px;
	font-weight: 700;
}

#bottom .col select {
    margin: 10px 5px 0 0;
    width: 205px;
}

#body-content {
    margin-top: 15px;
}

.slides {
    max-width: 800px;
    margin: 0 auto;
}

#body-content .text-center a {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 4px 40px;
}

#body-content .mobile-app {
    margin-bottom: 15px;
}

#body-content .mobile-app span {
    color: #fff;
    font-size: 14px;
}

/* REGISTER */
.register .content, .login .content, #get-involved .content, .post-disaster .content  {
    background: #dfdfdf;
    border-top: 1px solid #666;
	padding: 30px;
}

.register .content h3, .login .content h3, #get-involved .content h3, .post-disaster .content h3 {
    font-weight: 700;
    font-size: 22px;
}

.register .content p {
    font-style: italic;
    font-size: 12px;
}

.fb-btn {
    background-color: #0B87C2;
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 15px;
	border: 1px solid transparent;
	margin-top: 5px;
}

.fb-btn:hover {
    color: #0B87C2;
    background: #fff;
    border: 1px solid #0B87C2;
    -webkit-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -moz-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -o-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;  
}

.facebook-signup {
    margin-bottom: 15px;
}

.sidebar h5 {
    color: gray;
	border-bottom: 1px solid #CCC;
	padding-bottom: 12px;
	margin-top: 25px;
	font-weight: 700;
}

form .chk-container {
    list-style: none;
    margin-left: -40px;
}

form .chk-container input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

form #my-contacts input, form #relative-contacts input {
    margin-bottom: 10px;
    font-size: 13px;
}

form select#country {
    margin-bottom: 15px;
}

form #register-btn, #login-btn {
    background-color: #0B87C2;
    color: white;
    font-weight: bold;
    font-size: 15px;   
    padding: 5px 20px;
    border: 1px solid transparent;
}

#login-btn {
    padding: 5px 30px !important;
}

form #register-btn:hover, #login-btn:hover {
    color: #0B87C2;
    background: #fff;
    border: 1px solid #0B87C2;
    -webkit-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -moz-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    -o-transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
    transition: color 0.15s linear,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;    
}

#login-form input {
    margin-bottom: 15px;
}

.modal-body {
    display: inline-block;
    width: 100%;
}

.form-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

/* FOOTER */
#footer {
    background: #232222;
	margin-top: 30px;
	border-radius: 5px;
	padding: 7px;
}

#footer h4 {
    color: #6D6E71;
    font-weight: 700;
}

#footer p, #footer a {
    color: #fff;
    font-size: 12px;
    font-style: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 319px) {
    #header {
        margin-top: 15px !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }   
    
    .navbar-toggle {
            padding: 2px 10px !important;
    }
    
    #header .navbar-header {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    #main-nav ul li a {
        font-size: 14px !important;
        
    }
    
    #menu-container {
        text-align: center !important;
        float: none !important;
    }
    
    #header #logo-img {
        max-width: 85px !important;
        margin-top: -10px !important;
    }
    
    #bottom #address input#search-address {
        width: 150px !important;
    }
    
    #bottom #address {
        padding-left: 5px !important;
		padding-right: 5px !important;
		padding-top: 10px !important;
    }
    
    canvas {
        width: 240px !Important;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
     #header {
        margin-top: 15px !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }   
    
    .navbar-toggle {
            padding: 2px 10px !important;
    }    
    
    #header #logo-img {
        max-width: 90px !important;
        margin-top: -15px !important;
    }
    
    #bottom #address input#search-address {
        width: 210px !important;
    }
    
    #header .navbar-header {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    #main-nav ul li a {
        font-size: 14px !important;
        
    }
    
    #menu-container {
        text-align: center !important;
        float: none !important;
    }
    canvas {
        width: 320px !Important;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    #address {
        margin-top: 10px !important;
    }
    
    #bottom #address input#search-address {
        width: 365px !important;
    }
    
    #header .navbar-header {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
     #menu-container {
        text-align: center !important;
        float: none !important;
    }
    
    canvas {
        width: 480px !Important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #header #logo {
        padding-left: 0px !important;
    }
    
    #header #logo-img {
        max-width: 100px !important;
        margin-top: -15px !important;
    }
    
    #header #logo p {
        font-size: 14px !important;
    }
    
    #bottom {
        padding-top: 15px !important;
    }
    
    #bottom #address input#search-address {
        width: 205px !important;
    }
    
    #bottom .col select {
        width: 185px !important;
    }
    
    canvas {
        width: 768px !Important;
    }
}
