<% layout('../layout') -%>
<div class="jumbotron">
	<h1>About DERP</h1>
	<p class="lead">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec urna in justo molestie congue sit amet ac nibh. Nulla tristique ante sit amet risus rutrum luctus. Mauris ultricies et ipsum vel elementum. Donec accumsan imperdiet odio eu iaculis. Ut cursus commodo sodales. Vivamus eleifend, lacus sit amet vehicula varius, lacus urna commodo elit, vel facilisis massa odio non nisi. Mauris eleifend dolor at faucibus dictum.
	</p>
</div>