<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Readysaster- Hack for Resilience</title>

        <% stylesheet('/vendors/bootstrap/3.1.1/css/bootstrap.min.css') -%>
        <% stylesheet('/vendors/bootstrap/3.1.1/css/bootstrap-theme.min.css') -%>

        <% stylesheet('/public/css/style-home.css') -%>
        <% stylesheet('/public/css/font-awesome.css') -%>

        <% script('/vendors/jquery/1.11.0/jquery.min.js') -%>
        <% script('/vendors/bootstrap/3.1.1/js/bootstrap.min.js') -%>
        <% script('/vendors/angular/1.2.14/angular.min.js') -%>
        
         <% script('/public/js/jquery.tagcanvas.min.js') -%>

        <% script('/public/js/custom.js') -%>

        <%-stylesheets%>
        <%-scripts%>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script type="text/javascript">
          $(document).ready(function() {
            if(!$('#myCanvas').tagcanvas({
              textFont: 'Impact,"Arial Black",sans-serif',
              textColour: '#ff0000',
              textHeight: 50,
              outlineColour: 'none',
              weight: true,
              fadeIn: 800,
              reverse: true,
              depth: 0.97,
              maxSpeed: 0.05,
              shadowBlur: 2, shuffleTags: true,
              shadowOffset: [1,1],
              stretchX: 1.5
            },'tags')) {
              // something went wrong, hide the canvas container
              $('#myCanvasContainer').hide();
            }
          });
        </script>
    </head>
    <body>
        <div class="header">
                <div id="header" class="navbar">
                    <div class="navbar-inner">
                        <div class="container content">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-reorder icon-2x"></span>
                                </button>
                                <a id="logo" class="navbar-brand">
                                    <span id="logo-img"><img src="public/images/logo.png" class="img-responsive"/></span>
                                    <p class="hidden-xs"><span style="color: #333">Assistance</span><span style="color: #0B87C2"> In Disaster</span></p>
                                </a> 
                                <!--<a id="logo" class="navbar-brand" href="#">DISASTERS<span style="color: #0B87C2">ALERT</span></a> -->
                            </div>
                            <div id="main-nav" class="navbar-collapse collapse">
                                <ul id="menu-container" class="nav navbar-nav pull-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/reports">Reports</a></li>
                                    <li><a href="">Get Involved</a></li>
                                    <li><a href="">About</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Sign Up</a></li>
                                </ul>
                           </div><!--/.nav-collapse -->
                         </div>
                      </div>
                </div>
                <div id="bottom" class="container content">
                    <div id="address" class="col col-sm-5 col-md-5">
                        <input type="text" id="search-address" name="location" placeholder="What's your address?"/>
                        <input type="button" id="search-btn" name="search" placeholder="SEARCH" class="btn" value="SEARCH">
                    </div>
                    <div id="disaster-type" class="hidden-xs col-sm-3 col col-md-4">
                        <select>
                          <option value="disaster1">Earthquake</option>
                          <option value="disaster2">Volcanic</option>
                          <option value="disaster3">Typhoon</option>
                          <option value="disaster4">Flood</option>
                        </select>
                    </div>
                     <div id="disaster-type" class="hidden-xs col-sm-3 col col-md-3">
                        <select>
                          <option value="disaster1">Earthquake</option>
                          <option value="disaster2">Volcanic</option>
                          <option value="disaster3">Typhoon</option>
                          <option value="disaster4">Flood</option>
                        </select>
                    </div>
                </div>
            </div>
            
               <div id="body-content" class="container content">
                    <div class="mobile-app text-center">
                        <a class="btn"><i class="icon-mobile-phone" style="font-size: 38px;"></i> MOBILE</a>
                        <span><i class="icon-double-angle-right"></i></span>
                        <a class="btn" style="font-size: 14px; background: #000; margin-left: 25px;"><i class="icon-windows" style="font-size: 28px;"></i> Available in <br><span>Windows Phone</span></a>
                    </div>

                    <div class="tag-cloud">
                        <div id="myCanvasContainer">
                          <canvas width="940px" height="400" id="myCanvas">
                            <p>Anything in here will be replaced on browsers that support the canvas element</p>
                          </canvas>
                        </div>
                        <div id="tags">
                          <ul>
                            <li><a href="">DISASTER</a></li>
                            <li><a href="">Volcano</a></li>
                            <li><a href="">Earthquake</a></li>
                            <li><a href="">storm</a></li>
                            <li><a href="">floods</a></li>
                            <li><a href="">Emergency</a></li>
                            <li><a href="">alert</a></li>
                             <li><a href="">READYSASTER</a></li>
                            <li><a href="">Prepared</a></li>
                            <li><a href="">thunderstorm</a></li>
                            <li><a href="">Disaster Preparedness</a></li>
                            <li><a href="">Assistance In Disaster</a></li>
                          </ul>
                        </div>
                    </div>   
                </div>

            <div id="footer" class="container content">
               <div class="col-sm-3 col-md-3">
                   <h4>RELATED LINKS</h4>
                   <ul>
                       <li><a>Disaster Alert</a></li>
                       <li><a>Help</a></li>
                       <li><a>Contact</a></li>
                       <li><a><i class="icon-facebook-sign"></i> Facebook</a></li>
                   </ul>
               </div>         
               <div class="col-sm-5 col-md-5">
                   <h4 id="appname">ABOUT A.I.D</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nibh suscipit venenatis facilisis. Nam eget felis 
                   eget nisi pellentesque porta sed non tortor. Phasellus faucibus erat nec sem sodales, et bibendum tellus iaculis. Integer sit 
                   amet diam et sem vestibulum lobortis in sed nulla. Donec lobortis vehicula tortor, at fringilla erat fringilla nec. </p>
               </div>         
               <div class="col-sm-4 col-md-4 hidden-xs">
                   <h4>TEAM DIO</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nibh suscipit venenatis facilisis. Nam eget felis 
                   eget nisi pellentesque porta sed non tortor. Phasellus faucibus erat nec sem sodales, et bibendum tellus iaculis.</p>
               </div>         
            </div>
        </div>
    </body>
</html>