<% layout('../layout') -%>
<form id="login-form" class="login" action="/login" method="post">
  <div class="login-fields">
    <div class="field">
      <div class="input-prepend">
            <input id="username" name="username"  class="login" value="" type="username" placeholder="Username">
      </div>
    </div> <!-- /field -->
    
    <div class="field">
        <div class="input-prepend">
            <input id="password" name="password" class="login" value="" type="password" placeholder="Password">
        </div>
    </div> <!-- /password -->
    
  </div> <!-- /login-fields -->
  <div class="login-extra col-md-9 no-padding">
    <div><a href="/forgot-password">Forgot Password?</a></div>
    <div>Don't have an Account yet? <a class="register-btn" href="/register" style="cursor:pointer">Sign up.</a></div>
  </div>
  <div class="login-actions pull-right">
    <input type="submit" class="btn button" value="LOGIN" />
  </div> <!-- .actions -->
</form>