<div id="footer" class="container content">
   <div class="col-md-3">
       <h4>RELATED LINKS</h4>
       <ul>
           <li><a>Disaster Alert</a></li>
           <li><a>Help</a></li>
           <li><a>Legend</a></li>
           <li><a><i class="icon-facebook-sign"></i> Facebook</a></li>
       </ul>
   </div>         
   <div class="col-md-5">
       <h4 id="appname">ABOUT THE APP</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nibh suscipit venenatis facilisis. Nam eget felis 
       eget nisi pellentesque porta sed non tortor. Phasellus faucibus erat nec sem sodales, et bibendum tellus iaculis. Integer sit 
       amet diam et sem vestibulum lobortis in sed nulla. Donec lobortis vehicula tortor, at fringilla erat fringilla nec. </p>
   </div>         
   <div class="col-md-4">
       <h4>TEAM DIO</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nibh suscipit venenatis facilisis. Nam eget felis 
       eget nisi pellentesque porta sed non tortor. Phasellus faucibus erat nec sem sodales, et bibendum tellus iaculis.</p>
   </div>         
</div>