<div class="header-wrapper">
    <div id="header" class="navbar">
        <div class="navbar-inner">
            <div class="container content">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-reorder icon-2x"></span>
                    </button>
                    <a id="logo" class="navbar-brand" href="#">BRAND<span style="color: #0B87C2">NAME</span></a>
                </div>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul id="menu-container" class="nav navbar-nav">
                        <li><a href="">Get Involved</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                   <div class="header-tools col-md-9">
                         <div id="address" class="col-md-8">
                            <input type="text" id="search-address" name="location" placeholder="What's your address?"/>
                            <input type="button" id="search-btn" name="search" placeholder="SEARCH" class="btn" value="SEARCH">
                        </div>
                        <div id="message-btn" class="col-md-4">
                            <a class="btn"><i class="icon-envelope"></i> DISASTER ALERT</a>
                        </div>
                   </div>
               </div><!--/.nav-collapse -->
             </div>
          </div>
    </div>
</div>