<div class="header-wrapper">
    <div id="header" class="navbar">
        <div class="navbar-inner">
            <div class="container content">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-reorder icon-2x"></span>
                    </button>
                    <a id="logo" class="navbar-brand" href="#">BRAND<span style="color: #0B87C2">NAME</span></a>
                </div>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul id="menu-container" class="nav navbar-nav">
                        <li><a href="">Get Involved</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                   <div class="header-tools col-md-9">
                         <div id="address" class="col-md-9">
                            <input type="text" id="search-address" name="location" placeholder="What's your address?"/>
                            <input type="button" id="search-btn" name="search" placeholder="SEARCH" class="btn" value="SEARCH">
                        </div>
                        <div id="message-btn" class="col-md-3">
                            <a class="btn"><i class="icon-envelope"></i> DISASTER ALERT</a>
                        </div>
                   </div>
               </div><!--/.nav-collapse -->
             </div>
          </div>
    </div>
    
    <div class="tools-wrapper">
        <ul class="tools nav nav-tabs">
            <li class="active">
                <a href="#disaster-type" data-toggle="tab">
                    <span class="left">&nbsp;</span>
                    <span class="center">Disaster Types</span>
                    <span class="right">&nbsp;</span>
                </a>
            </li>
            <li>
                <a href="#date" data-toggle="tab" class="">
                    <span class="left">&nbsp;</span>
                    <span class="center">Date</span>
                    <span class="right">&nbsp;</span>
                </a>
            </li>
            <li>
                <a href="#address" data-toggle="tab" class="">
                    <span class="left">&nbsp;</span>
                    <span class="center">Address</span>
                    <span class="right">&nbsp;</span>
                </a>
            </li>
        </ul>   
        
        <div class="tab-content">
            <div class="tab-pane fade in active" id="disaster-type">
                <div class="container content">
                    <div class="col-md-3">
                        <p>Show <b style="color: #464646">Disasters</b> on the map by checking the box under the disaster type you want to see.</p>
                    </div>
                    <div class="list col-md-9">
                        <div class="heading">
                            <label for="show">
                                <a id="check-all">Check All</a>
                            </label>
                             <label for="show">
                                <a id="uncheck-all">Clear All</a>
                            </label>
                            <span>(hover each Disaster Type Symbol for each description)</span>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="date">
                 <div class="container content">...</div>
            </div>
            <div class="tab-pane fade" id="address">
                 <div class="container content">...</div>
            </div>
            <div class="container content">
                <div class="toolbar">
                    <span class="status-message">
                        <p>class="">Disasters: 
                            <select id="disaster">
                                <option value="all">All</option>
                                <option value="1">Disaster 1</option>
                                <option value="2">Disaster 2</option>
                                <option value="3">Disaster 3</option>
                                <option value="4">Disaster 4</option>
                            </select>

                        </p>
                        <p> between <input id="dateFrom" type="text" value="" /> - 
                            <input id="dateTo" type="text" value="" />
                            <input type="button" value="Update" onclick="loadUserEvents()" />
                        </p>
                            <select id="mapLayer" onchange="changeLayerDisplay()">
                                <option value="marker">Reports</option>
                                <option value="heatmap">Heat Map</option>
                            </select>
                        <p>

                        </p>
                        <script type="text/javascript">
                            $(function() {
                                $( "#dateFrom" ).datepicker();
                                $( "#dateTo" ).datepicker();
                            });
                        </script>
                    </span>
                    
                    <div class="side-menu pull-right">
                        <ul>
                            <li><a class="btn" data-toggle="tooltip" title="Send Message"><i class="icon-envelope"></i></a></li>
                            <li><a class="btn" data-toggle="tooltip" title="Link"><i class="icon-link"></i></a></li>
                            <li><a class="btn" data-toggle="tooltip" title="Statistics"><i class="icon-bar-chart"></i></a></li>
                            <li><a class="btn" data-toggle="tooltip" title="Detailed Report"><i class="icon-list-alt"></i></a></li>
                            <li><a id="collapse-btn" class="btn" data-toggle="tooltip" title="Collapse"><i class="icon-long-arrow-up"></i></a></li>
                        </ul>    
                    </div>
                </div> 
             </div>   
        </div> 
    </div>
</div>

<script>
    $("#collapse-btn").click(function(){
        if( $("ul.tools li").hasClass('active')){
            $("ul.tools li").removeClass("active");
            $(".tab-pane").removeClass("active in");
            $("#collapse-btn").addClass("disabled");
        }else {
            $(".tab-pane").addClass("fade in");
            $("#collapse-btn").removeClass("disabled");
        }      
    });
</script>
