<!--<div class="masthead">
	<h3 class="text-muted">D.I.O</h3>
	<ul class="nav nav-justified">
	  <li class="active"><a href="/">Home</a></li>
	  <li><a href="products_services">Products & Services</a></li>
	  <li><a href="support">Support</a></li>
	  <li><a href="about">About Us</a></li>
	  <li><a href="contact">Contact Us</a></li>
	</ul>
</div> -->

<div class="header">
    <div id="header" class="navbar">
        <div class="navbar-inner">
            <div class="container content">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-reorder icon-2x"></span>
                    </button>
                    <a id="logo" class="navbar-brand" href="#">BRAND<span style="color: #0B87C2">NAME</span></a>
                </div>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul id="menu-container" class="nav navbar-nav pull-right">
                        <li><a href="">Map</a></li>
                        <li><a href="">Get Involved</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
               </div><!--/.nav-collapse -->
             </div>
          </div>
    </div>
    <div id="bottom" class="container content">
        <div id="address" class="col col-md-5">
            <input type="text" id="search-address" name="location" placeholder="What's your address?"/>
            <input type="button" id="search-btn" name="search" placeholder="SEARCH" class="btn" value="SEARCH">
        </div>
        <div id="disaster-type" class="col col-md-4">
            <select>
              <option value="disaster1">Disaster 1</option>
              <option value="disaster2">Disaster 2</option>
              <option value="disaster3">Disaster 3</option>
              <option value="disaster4">Disaster 4</option>
            </select>
        </div>
         <div id="disaster-type" class="col col-md-3">
            <select>
              <option value="disaster1">Disaster 1</option>
              <option value="disaster2">Disaster 2</option>
              <option value="disaster3">Disaster 3</option>
              <option value="disaster4">Disaster 4</option>
            </select>
        </div>
    </div>
</div>